<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Dice Roller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">

  <ion-card class="explanationDiv">
    <ion-card-content class="ion-text-center">
      <h1>Dice, Dice and more Dice</h1>
      <p>Dice are a huge part of DND, they are required for everything from talking to combat, this page is dedicated to providing you 7 sets of dice to use on your adventures</p>
      <p><em>Choose a dice, then click the roll button or shake your device to get your result</em></p>
    </ion-card-content>
  </ion-card>

  <!-- Result Display -> Initially hidden and is displayed when the result is set-->
  <ion-card *ngIf="result !== null" class="diceResult">
    <ion-card-header>
      <ion-card-title>Result</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center result">
      <h2>You rolled: {{ result }}</h2>
    </ion-card-content>
  </ion-card>

  <!--Simplistic card to allow the user to choose 1 of 7 dice to roll to get a certain result-->
  <ion-card class="diceSelectCard">
    <ion-card-header>
      <ion-card-title>Select a Dice</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="selectedDice">
        <ion-list>
          <ion-item lines="full">
            <img src="assets/img/d4.svg" alt="D4" class="diceImgStyle">
            <ion-label class="diceContainer">D4</ion-label>
            <ion-radio slot="end" value="4"></ion-radio>
          </ion-item>
          <ion-item lines="full">
            <img src="assets/img/d6.svg" alt="D6" class="diceImgStyle">
            <ion-label class="diceContainer">D6</ion-label>
            <ion-radio slot="end" value="6"></ion-radio>
          </ion-item>
          <ion-item lines="full">
            <img src="assets/img/d8.svg" alt="D8" class="diceImgStyle">
            <ion-label class="diceContainer">D8</ion-label>
            <ion-radio slot="end" value="8"></ion-radio>
          </ion-item>
          <ion-item lines="full">
            <img src="assets/img/d10.svg" alt="D10" class="diceImgStyle">
            <ion-label class="diceContainer">D10</ion-label>
            <ion-radio slot="end" value="10"></ion-radio>
          </ion-item>
          <ion-item lines="full">
            <img src="assets/img/d12.svg" alt="D12" class="diceImgStyle">
            <ion-label class="diceContainer">D12</ion-label>
            <ion-radio slot="end" value="12"></ion-radio>
          </ion-item>
          <ion-item lines="full">
            <img src="assets/img/d20.svg" alt="D20" class="diceImgStyle">
            <ion-label class="diceContainer">D20</ion-label>
            <ion-radio slot="end" value="20"></ion-radio>
          </ion-item>
          <ion-item lines="full">
            <img src="assets/img/d100.svg" alt="D100" class="diceImgStyle">
            <ion-label class="diceContainer">D100</ion-label>
            <ion-radio slot="end" value="100"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>

  <!-- Roll Dice Button -->
  <ion-button class="roll-btn" (click)="rollDice()">Roll Dice!</ion-button>

</ion-content>
