.roll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    --background: #DC3939;
    --background-hover: #c53232;
    --color: white;
    --border-radius: 8px;
    text-align: center;
}

.diceImgStyle{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    border: 5px solid black;
    border-radius: 15px;
}

.diceContainer {
    font-weight: bold;
    padding: 10px;
}