<ion-content class="ion-padding">
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">

    <!-- Basic Info -->
    <ion-item><ion-label position="floating">Name</ion-label><ion-input formControlName="name"></ion-input></ion-item>
    <ion-item><ion-label position="floating">Image</ion-label><ion-input formControlName="img"></ion-input></ion-item>
    <!-- Image Preview -->
    <div *ngIf="characterForm.get('img')?.value">
      <img [src]="characterForm.get('img')?.value" alt="Character Image" style="width: 100%; max-height: 200px; object-fit: contain; margin: 1em 0;" />
    </div>
    <ion-item><ion-label position="floating">Race</ion-label><ion-input formControlName="race"></ion-input></ion-item>
    <ion-item><ion-label position="floating">Class</ion-label><ion-input formControlName="class"></ion-input></ion-item>
    <ion-item><ion-label position="floating">Level</ion-label><ion-input type="number" formControlName="level"></ion-input></ion-item>
    <ion-item><ion-label position="floating">Alignment</ion-label><ion-input formControlName="alignment"></ion-input></ion-item>

    <!-- Combat Info -->
<ion-list-header>Combat Info</ion-list-header>

<ion-item>
  <ion-label position="floating">Armor Class</ion-label>
  <ion-input type="number" formControlName="armorClass"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Initiative</ion-label>
  <ion-input type="number" formControlName="initiative"></ion-input>
</ion-item>
<ion-text color="danger" *ngIf="characterForm.get('initiative')?.invalid && characterForm.get('initiative')?.touched">
  Value must be between -20 and 20
</ion-text>

<ion-item>
  <ion-label position="floating">Speed</ion-label>
  <ion-input type="number" formControlName="speed"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Proficiency Bonus</ion-label>
  <ion-input type="number" formControlName="proficiencyBonus"></ion-input>
</ion-item>
<ion-text color="danger" *ngIf="characterForm.get('proficiencyBonus')?.invalid && characterForm.get('proficiencyBonus')?.touched">
  Value must be between 1 and 10
</ion-text>

<ion-item>
  <ion-label position="floating">Hit Points</ion-label>
  <ion-input type="number" formControlName="hitPoints"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Hit Dice</ion-label>
  <ion-input formControlName="hitDice"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Max HP</ion-label>
  <ion-input type="number" formControlName="hitPointMax"></ion-input>
</ion-item>

    <!-- Stats -->
    <ion-list-header>Stats</ion-list-header>
    <div formGroupName="stats">
      <!-- Strength -->
      <ion-item>
        <ion-label position="floating">Strength</ion-label>
        <ion-input type="number" formControlName="strength"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="characterForm.get('stats.strength')?.invalid && characterForm.get('stats.strength')?.touched">
        Value must be between 1 and 20
      </ion-text>

      <!-- Dexterity -->
      <ion-item>
        <ion-label position="floating">Dexterity</ion-label>
        <ion-input type="number" formControlName="dexterity"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="characterForm.get('stats.dexterity')?.invalid && characterForm.get('stats.dexterity')?.touched">
        Value must be between 1 and 20
      </ion-text>

      <!-- Constitution -->
      <ion-item>
        <ion-label position="floating">Constitution</ion-label>
        <ion-input type="number" formControlName="constitution"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="characterForm.get('stats.constitution')?.invalid && characterForm.get('stats.constitution')?.touched">
        Value must be between 1 and 20
      </ion-text>

      <!-- Intelligence -->
      <ion-item>
        <ion-label position="floating">Intelligence</ion-label>
        <ion-input type="number" formControlName="intelligence"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="characterForm.get('stats.intelligence')?.invalid && characterForm.get('stats.intelligence')?.touched">
        Value must be between 1 and 20
      </ion-text>

      <!-- Wisdom -->
      <ion-item>
        <ion-label position="floating">Wisdom</ion-label>
        <ion-input type="number" formControlName="wisdom"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="characterForm.get('stats.wisdom')?.invalid && characterForm.get('stats.wisdom')?.touched">
        Value must be between 1 and 20
      </ion-text>

      <!-- Charisma -->
      <ion-item>
        <ion-label position="floating">Charisma</ion-label>
        <ion-input type="number" formControlName="charisma"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="characterForm.get('stats.charisma')?.invalid && characterForm.get('stats.charisma')?.touched">
        Value must be between 1 and 20
      </ion-text>
    </div>


    <!-- Proficiencies -->
    <ion-list-header>Proficiencies</ion-list-header>
    <div formArrayName="proficiencies">
      <div *ngFor="let prof of proficiencies.controls; let i = index">
        <ion-item>
          <ion-input [formControlName]="i" placeholder="Proficiency"></ion-input>
          <ion-button fill="clear" color="danger" (click)="removeItem(proficiencies, i)">Remove</ion-button>
        </ion-item>
      </div>
      <ion-button expand="block" (click)="addItem(proficiencies)">+ Add Proficiency</ion-button>
    </div>

    <!-- Inventory -->
    <ion-list-header>Inventory</ion-list-header>
    <div formArrayName="inventory">
      <div *ngFor="let item of inventory.controls; let i = index">
        <ion-item>
          <ion-input [formControlName]="i" placeholder="Item"></ion-input>
          <ion-button fill="clear" color="danger" (click)="removeItem(inventory, i)">Remove</ion-button>
        </ion-item>
      </div>
      <ion-button expand="block" (click)="addItem(inventory)">+ Add Item</ion-button>
    </div>

    <!-- Spells -->
    <ion-list-header>Spells</ion-list-header>
    <div formArrayName="spells">
      <div *ngFor="let spell of spells.controls; let i = index">
        <ion-item>
          <ion-input [formControlName]="i" placeholder="Spell"></ion-input>
          <ion-button fill="clear" color="danger" (click)="removeItem(spells, i)">Remove</ion-button>
        </ion-item>
      </div>
      <ion-button expand="block" (click)="addItem(spells)">+ Add Spell</ion-button>
    </div>

    <!-- Backstory -->
    <ion-item>
      <ion-label position="floating">Backstory</ion-label>
      <ion-textarea formControlName="backstory"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="characterForm.invalid">
      Save Character
    </ion-button>
  </form>
</ion-content>
