<ion-app>
    
    <app-navbar></app-navbar>
    <!--Navbar -->
    <ion-header>
        <ion-toolbar color="dark">
            <!-- Menu Button (aligned left) -->
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <!-- Page Title -->
            <ion-title><strong>DND-CE</strong></ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
        <app-footer></app-footer>
    </ion-footer>
</ion-app>