<!-- Sidebar Menu -->
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>DND-CE</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button href="/">Home</ion-item>
      <ion-item button href="/character">Character Sheet</ion-item>
      <ion-item button href="/search">Search</ion-item>
      <ion-item button href="/combat">Combat Tracker</ion-item>
      <ion-item button href="/dice">Dice</ion-item>
      <ion-item button href="/settings">Settings</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main Content with Navbar -->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
