.footer-toolbar {
    --padding-start: 0;
    --padding-end: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; /* Adjust spacing between buttons */
  }
  
  ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent; /* Remove background */
    --border-radius: 50%; /* Keep circular look */
    --box-shadow: none; /* Remove shadow */
  }
  
  .footer-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0px 35px; /* Center icon within the button */
  }
  