<ion-header>
  <ion-toolbar>
      <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Search bar and category selection -->
  <ion-item>
      <ion-select [(ngModel)]="category">
          <ion-select-option value="spells">Spells</ion-select-option>
          <ion-select-option value="monsters">Monsters</ion-select-option>
          <ion-select-option value="backgrounds">Backgrounds</ion-select-option>
          <ion-select-option value="planes">Planes</ion-select-option>
          <ion-select-option value="sections">Sections</ion-select-option>
          <ion-select-option value="feats">Feats</ion-select-option>
          <ion-select-option value="conditions">Conditions</ion-select-option>
          <ion-select-option value="races">Races</ion-select-option>
          <ion-select-option value="classes">Classes</ion-select-option>
          <ion-select-option value="magicitems">Magic Items</ion-select-option>
          <ion-select-option value="weapons">Weapons</ion-select-option>
      </ion-select>
    
      <!-- Search input and button -->
      <ion-input [(ngModel)]="query" placeholder="Search..." (keyup.enter)="onSearch()"></ion-input>
      <ion-button (click)="onSearch()">Search</ion-button>
  </ion-item>
  
  <ion-spinner *ngIf="loading" name="dots"></ion-spinner>

  <!-- Handle results and more details -->
  <ion-list *ngIf="results.length">
    <ion-item *ngFor="let item of results">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p *ngIf="item.desc">{{ item.desc }}</p>

        <!-- Additional fields based on 2 of the categories - simply to display some additional previously hidden information -->
        <ng-container *ngIf="category === 'spells'">
          <p *ngIf="item.school"><strong>School:</strong> {{ item.school }}</p>
          <p *ngIf="item.level"><strong>Level:</strong> {{ item.level }}</p>
          <p *ngIf="item.components"><strong>Components:</strong> {{ item.components }}</p>
          <p *ngIf="item.range"><strong>Range:</strong> {{ item.range }}</p>
        </ng-container>

        <ng-container *ngIf="category === 'weapons'">
          <p *ngIf="item.damage"><strong>Damage:</strong> {{ item.damage }}</p>
          <p *ngIf="item.properties"><strong>Properties:</strong> {{ item.properties }}</p>
          <p *ngIf="item.range"><strong>Range:</strong> {{ item.range }}</p>
        </ng-container>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
