.titleContainer h1 {
  font-size: 2.5rem;
  color: #0070f3; /* You can customize this color */
}

.logoImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.appIntro {
  font-size: 1.1rem;
  margin: 20px 0;
}

ion-item {
  padding-left: 20px;
  padding-right: 20px;
}

ion-label {
  font-size: 1rem;
}
