.titleContainer h1 {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logoImage {
  max-width: 50%;
  margin: 0 auto;
}

.appIntro {
  font-size: 1.1rem;
  margin: 20px 0;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
  background-color: red;
}

.featuresList {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}

ion-item {
  padding-left: 20px;
  padding-right: 20px;
}

ion-label {
  font-size: 1rem;
}
