<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Lets Get Fighting!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome To the Combat Tracker!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Combat is a key part of DND, its where things get really good.<br />But it can be hard to keep track of things with combat. Thats why this page exists, from here you can update, & keep track of each fighters position & health</p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="success" routerLink="/createCombat">
    Create a New Encounter!
  </ion-button>

  <ion-list *ngIf="encounters.length > 0">
    <ion-card *ngFor="let encounter of encounters">
      <ion-card-header>
        <ion-card-title>{{ encounter.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img [src]="encounter.image" alt="{{encounter.name}}" style="width: 100%; border-radius: 8px;"/>
        <ion-button [routerLink]="['/play-encounter', encounter._id]">Play Encounter</ion-button>
        <ion-button color="danger" expand="block" (click)="deleteEncounter(encounter._id)">
          Delete Encounter
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-text *ngIf="encounters.length === 0">
    <p>No encounters found.</p>
  </ion-text>
</ion-content>
